<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
<div class="container card mt-5 color" >

<h1 class="head mt-5" >AI Testing</h1>
<p class="mt-5 para">At Itautomation we understand the rise of DevOps and Continuous Delivery, the business is now looking for real-time risk assessment throughout the various stages of the software delivery cycle. AI is undeniably valuable—and necessary—for transforming testing to meet these new expectations.</p>

<p class='para mt-2'>With the fast paced growth in technology and ever demanding timeliness of delivery, we augmented the growth in software testing to meet the demand without compromising the quality by.<p>
<ul >
  <li class="list">Intelligent TRIAGE</li><br>
  <li class="list"> Cognitive Test Data integration</li><br>
  <li class="list">Test suite Optimizer.</li><br>
  <li class="list">AUTO BOT to execute and deliver reports.</li><br>

</ul>

<div class="container mt-5 mb-5">
  <a href="{%url 'index' %}"  class="btn btn-lg btn-primary">Back to home page</a>
</div>

</div>


  </body></html>
