{%load static%}
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Anusha">
  <meta name="description" content="">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>VGPTS TECHNOLOGIES LTD </title>
  <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lobster&family=Roboto+Condensed&display=swap" rel="stylesheet">
<!-- added -->
</head>
<body data-spy="scroll" data-target=".mainmenu-area">
  <!--Preloader-->
  <!-- <div class="preloader">
  <div class="spinner"></div>
</div> -->

<!-- Mainmenu-Area -->
<nav class="navbar mainmenu-area" data-spy="affix" data-offset-top="197">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"><img  class='imgg' src="{%static "images/11.png"%}" alt="">  </a>

        </div>

        <div class="collapse navbar-collapse navbar-right" id="mainmenu">

          <ul class="nav navbar-nav primary-menu">

            <li class="active"><a href="#home-area">Home</a></li>
            <li><a href="#service-area">Services</a></li>
            <li><a href="#about-area">About</a></li>
            <li><a href="#contact-area">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--Header-Area-->
<header class="header-area" id="home-area">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
          <div class="header-text">
            <!-- <p>Reliable Test and Process Automation Partner</p> -->
            <h2 class="header-title ">Test Automation,AI Testing & Robotic <span class="dot"></span></h2><br>
            <div><q>Automate redundant, effort and time consuming process, and we know how to do it Effectively, Efficiently and Economically on time every time.</q></div>
            <div>
              <a href="#contact-area" class="btn btn-lg btn-primary">Contact Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Area -->

<section class="section-padding" id="about-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="page-title">
          <h2 class="title text_shadows">What We Offer?</h2>
          <div>
            <p class='justify'>We're experts in testing websites and web-based applications across e-commerce, online banking, trading portals, e-learning and social networks etc. with different methods of testing  such as Functional , Automation , API , Performance and  compatibility or accessibility testing. </p>
            <ul>
              <li >Custom API development</li>
              <li >Mobile API development</li>
              <li >API development for cloud computing</li>
              <li>Web API development</li>
              <li>API Integration</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="hidden-xs col-sm-6 col-md-offset-1">
        <!-- accordian -->
        <button class="accordion">Best Quality Work</button>
        <div class="panel">
          <p>We will initially deeply learn and assess your product / service, requirements and testing practices.</p>
          <p>Quality is our primary focus, and we ensure everytime on our delivery.</p>
        </div>

        <button class="accordion">Support after Delivery/Handover</button>
        <div class="panel">
          <p>We also provide cost effective services and support which will ease your business needs and allows you to focus on running your business.</p>
          <p>After project delivery we support our customer for 3 months to make sure that the delivery has been well received.</p>
        </div>

        <button class="accordion">Result Oriented Approach</button>
        <div class="panel">
          <p>We work towards specific targets, set delivery deadlines and prioritize problem-solving rather than problem-identification or waiting for someone else to solve the matter.</p>
          <p>Our service will ensure that you meet the product quality standards required.</p>
        </div>

        <button class="accordion">Highly Qualified Team</button>
        <div class="panel">
          <p>Our team is one of the greatest assets in delivering test automation solutions and services.</p>
          <p>To achieve the objectives we set together, you can rely on our team, as well as specialist contractors, each with more than 15 years of experience.</p>
        </div>


        <button class="accordion">Best ROI Techniques</button>
        <div class="panel">
          <p>Our ROI calculator clearly shows how effectively our stratergy works to get maximum benefit on the investments and resources.</p>
          <p>We will provide effective ROI to get maximum benefit on the investments and resources</p>
        </div>


        <button class="accordion">Experienced Professionals</button>
        <div class="panel">
          <p>We then use our experience to provide you with the strategic advice and testing consulting services.</p>
          <p>Our team of specialists is something that makes us extremely proud and self-confident. We have assembled a team of professionals who come from a wide range of verticles.</p>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- choose -->

<section class="section-padding gray-bg">
  <div class="container">
    <div class="row"><br><br>
      <div class="col-xs-12 col-sm-6">
        <div class="video-box element1">
          <img src="{%static "images/video-image.png" %}" class="img-width" alt="">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="page-title">
          <h2 class="title text_shadows">Why Choose Us?</h2>
          <ul class="tabs-list">
            <li class="active"><a data-toggle="pill" href="#our_mission">Our Mission</a></li>
            <li><a data-toggle="pill" href="#our_vission">Our Vission</a></li>
            <li><a data-toggle="pill" href="#our_support">Our Support</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="our_mission" class="tab-pane fade in active">
            <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
            <ul>
              <li>Offering our customers with good return on Investments</li>
              <li>Maintaining trust worthy relationship with partners and clients</li>
              <li>Providing highly reliable solutions to ease business requirements</li>
              <li>Offering high quality support to our customer and available any time</li>
            </ul>
            <br />
          </div>
          <div id="our_vission" class="tab-pane fade">
            <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
            <p>Our vision is to make customer happy and provide high quality of services.</p>
            <br />
          </div>
          <div id="our_support" class="tab-pane fade">
            <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
            <li>Quality is our primary focus, and we ensure everytime on our delivery.</li>
            <li>After project delivery, we support our customer for 3 months to make sure that the delivery has been well received.</li>
            <li>Our ROI calculator clearly shows how effectively our stratergy works to get maximum benefit on the investments and resources.</li>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- types of testing -->

<section class="section-padding" id="service-area">
  <h2 class="title text_shadows" style="text-align: center">How can we help you?</h2><br/>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="feature-box  mt-5" >
          <div class="box-icon">
            <img src="{%static "images/functional.png"%}" alt="" class="card-image-top">
          </div>
          <h4 class="white">Functional Testing</h4><br>
          <p>Verify and certify a software behaves as per the intended functional requirement / specification.</p>
          <a href="{%url "functional" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature-box">
        <div class="box-icon">
          <img src="{%static "images/performance.png"%}" alt="" class="card-image-top">
        </div>
        <h4 class="white">Performance Testing</h4><br>
        <p>Practice of evaluating how a system performs in terms of Speed, Responsiveness and stability under a particular work load.</p>
        <a href="{%url "performance" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature-box">
        <div class="box-icon">
          <img src="{%static "images/API.png"%}" alt="" class="card-image-top">
        </div>
        <h4 class="white">API Testing</h4><br>
        <p>API testing involves bypassing an user interface and communicating directly with an application by making calls to its APIs.</p>
        <a href="{%url "API" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature-box" >
        <div class="box-icon">
          <img src="{%static "images/integration.png"%}" alt="" class="card-image-top">
        </div>
        <h4 class="white">Integration Testing</h4><br>
        <p>Testing software by grouping software components together, ad make sure that software works as expected.</p>
        <a href="{%url "integration" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature-box">
        <div class="box-icon">
          <img src="{%static "images/AI.png"%}" alt="" class="card-image-top">
        </div>
        <h4 class="white">AI Testing</h4><br>
        <p>Using artificial intelligence to speed-up the authoring, execution, and maintenance of automated tests.</p>
        <a href="{% url "AI" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="feature-box">
        <div class="box-icon">
          <img src="{%static "images/robotic1.png"%}" alt="" class="card-image-top">
        </div>
        <h4 class="white">Robotic / RPA</h4><br>
        <p>By using specialized computer programs, known as software robots, to automate repeatable business processes.</p>
        <a href="{%url "robotic" %}" class="read-more ">Read More <span class='glyphicon glyphicon-arrow-right'></span></a>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Skill-Area -->
<section class="section-padding gray-bg" id="skill-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="page-title">
          <h2 class="title text_shadows">Professional Skills</h2>
          <div class="">
            <p>We're experts in testing websites and web-based applications across e-commerce, online banking, trading portals, e-learning and social networks etc. with different methods of testing  such as Functional , Automation , API , Performance and  compatibility or accessibility testing. </p>
          </div>
        </div>
        <div class="skills skills1 row">
          <!-- main skill No. 1 -->
          <div class="skill col-md-4 col-xs-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">95%</div>
            </div>
            <h6 class="center">Functional</h6>
          </div>
          <!-- main skill No. 2 -->
          <div class="skill col-md-4 col-xs-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">85%</div>
            </div>
            <h6 class="center">API</h6>
          </div>
          <!-- main skill No. 3 -->
          <div class="skill col-md-4 col-xs-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
            </div>
            <h6 class="center">Performance</h6>
          </div>
          <!-- main skill No. 4 -->
          <div class="skill col-md-4 col-xs-6 mt-5">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">95%</div>
            </div>
            <h6 class="center">AI</h6>
          </div>
          <!-- main skill No. 4 -->
          <div class="skill col-md-4 col-xs-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">85%</div>
            </div>
            <h6 class="center">Robotic/RPA</h6>
          </div>
          <!-- main skill No. 4 -->
          <div class="skill col-md-4 col-xs-6">
            <div class="progress blue">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
            </div>
            <h6 class="center">Integration</h6>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-offset-1 ">
        <img  class="img-width" src="{%static "images/skill-image.png" %}" alt="">
      </div>
    </div>
  </div>
</section>
<!-- tools -->
<section class="section-padding" id="portfolio-area">
  <h1 class="heading text_shadows">Tools We Use</h1>

  <div class="container">
    <div class="row row1 ">
        <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/postman_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Postman</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/jmeter_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Jmeter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/apigee_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Apigee</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/asser_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Assertibility</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>

    </div><br><br>
    <div class="row row1 mt-5">
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/karate.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Karate</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/katalon_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Katalon</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/soap-change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Soap UI</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class=" col-xs-12 col-sm-6 col-md-3">
        <div class="feature-box" >
          <img class="card-img-top imag" src="{%static "images/tricentis_change.png"%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-title1">Tercentis</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<!-- award -->
<section class="section-padding gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="count-box">
          <div class="count-icon">
            <img style="width:100px;height:100px;"src="{%static "images/project.png"%}" alt="">
          </div>
          <span class="count_title">Project Complete</span>
          <h2 class="count white1">1172</h2>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="count-box">
          <div class="count-icon">
            <img style="width:100px;height:100px;" src="{%static "images/happy.png"%}" alt="">
          </div>
          <span class="count_title">Happy Client’S</span>
          <h2 class="count white1">1000</h2>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="count-box">
          <div class="count-icon">
            <img style="width:100px;height:100px;" src="{%static "images/clients.jpg"%}" alt="">
          </div>
          <span class="count_title">Total Client’s</span>
          <h2 class="count white1">1200</h2>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="count-box" >
          <div class="count-icon">
            <img style="width:100px;height:100px;" src="{%static "images/award.png"%}" alt="">
          </div>
          <span class="count_title ">Wining Award</span>
          <h2 class="count white1">1172</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- get in touch -->
<div class="row1">
  <div class="container ">

    <div class="row">

      <div class="col-xs-12 col-md-6" id="contact-area">

        <h1 class="heading text_shadows">Get In Touch</h1>

        <div class="contact-info1">
          <ul class="info">
            <li>
              <span class="info-icon">
                <img src="{%static "images/location.png"%}" alt="" class="icofont">
              </span> Ripon , Market Place
            </li>
            <li>
              <span class="info-icon">
                <img src="{%static "images/mobile.png"%}" alt="" class="icofont">
              </span> (+44) 7777777777
            </li>
            <li>
              <span class="info-icon">
                <img src="{%static "images/mail.png"%}" alt="" class="icofont">
              </span> admin@gmail.com
            </li>
          </ul>
          <div class="social-menu-down">
            <a href="https://www.facebook.com/" target="_blank"><img src="{%static "images/facebook.png"%}" alt="" class="icofont"></a>
            <a href="https://www.skype.com/en/" target="_blank"><img src="{%static "images/skype.png"%}" alt="" class="icofont"></a>
            <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><img src="{%static "images/insta.png"%}" alt="" class="icofont"></a>
            <a href="https://twitter.com/" target="_blank"><img src="{%static "images/twitter.png"%}" alt="" class="icofont"></a>

          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md col-sm column3 pr-5 mt-5">

        <h1 class="text_shadows ">Have A Query?</h1><br>
        <p>Do you have any questions, comments or wondering something? Just get in touch with us and we will help you.</p><br>

        <!-- <div class="form-group message">
                           {% if messages %}
                             {% for message in messages %}
                             {% if message.tags == 'error' %}
                             <div class="alert alert-danger" style="margin-top:10px"><strong>{{ message }}</strong></div>
                             {% endif %}
                             {% if message.tags == 'success' %}
                             <div class="alert alert-success" style="margin-top:10px"><strstrong>{{ message }}</strstrong></div>
                             {% endif %}
                             {% endfor %}
                           {% endif %}
                         </div> -->

        <form name="myForm" method="POST" onsubmit="return validateForm()">
          {%csrf_token%}
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Enter your Name">
            <span  class='spl' id="error-name"></span>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Enter your Email">
            <span  class='spl' id="error-email"></span>
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control" rows="10" placeholder="Enter your Message"></textarea>
            <span  class='spl' id="error-message"></span>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary">Send Now</button>
          </div>
        </form>

        <script>
        {% if successful_submit %}
    alert('{{ message }}');
    {% endif %}

</script>
        </div>
      </div>
    </div>
  </div>
  <!-- map -->

</div>
<div class="col-md-12 mapouter">
  <div class="gmap_canvas">
  <iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=ripon&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
  </iframe><a href="https://www.whatismyip-address.com/divi-discount/"></a></div>
</div>

  <!-- Footer-Area -->
  <footer class="footer-area footer-bg mt-5">


    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript -->
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
  </script>
  <script src="{% static "js/jquery-1.12.4.min.js"%}"></script>
   <script src="{%static "js/bootstrap.min.js"%}"></script>
   <script src="{%static "js/bootstrap.js"%}"></script>

   </script>
  </body>

</html>
