<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>


<div class="container card mt-5 color">

<h1 class="head mt-5 text_shadows ">Robotic Process Automation</h1>

  <p class="para mt-5">RPA allows business to automate routine, rules-based tasks at scale. It provides a business with a way to configure software or “robots” — more commonly called bots — to capture and interpret existing applications in order to process a transaction.It is a continuum of innovative technologies used to automate processes and operations traditionally done by humans. RPA solutions are frequently achieved with software robots and best applied to repetitive, predictable, rules-based activities.RPA  RPA accelerate work, to unattended and hybrid human/robot RPA, robotic process automation offers a real-world solution to a real-world problem.</p>



  <h1 class="head mt-5 text_shadows ">Advantages:</h1>

    <ul >
      <li class="list">Reduce operating costs and increase throughput.</li><br>
      <li class="list">Allow employees to offload tasks to robots so people can focus on the customer and the task at hand.</li><br>
      <li class="list">Eliminate human errors to improve customer satisfaction.</li><br>
      <li class="list">Increase compliance and auditability.</li><br>
      <li class="list">Increase consistency with standardized processes.</li><br>
    </ul>
  <p class="para">The right RPA platform will get you to the right place at the right time, so you can start realizing all-important ROI.</p>

<div class="container mt-5 mb-5">
  <a href="{%url 'index' %}"  class="btn btn-lg btn-primary">Back to home page</a>
</div>

</div>
</body>
</html>
